body{
  margin: 0px; /* Fjerner margen rundt hele nettsiden */
  font-family: helvetica; /* setter en skrifttype på hele nettsiden */
}
nav{
  background-color: #1565c0; /* Velger en bakgrunnsfarge på navigasjonsbaren */
  display: flex; /* Gjør navigasjonsbaren til en flex box */
}
nav a{ /* Velger alle a-elementer som ligger inne i nav */
  color: white; /* velger skriftfarge på lenkene */
  text-decoration: none; /* fjerner understrek på lenkene */
  padding: 25px; /* lager 25px med "luft" rundt lenkene */
}
nav .active{ /* velger klassen active inne i nav */
  background-color: #0d47a1; /* setter bakgrunnsfarge på elementet som er active */
}
nav a:hover:not(.active){ /* velger a-elemnter som musen er over inne i nav, men ikke elementer som har klassen active */
  background-color: #82b1ff; /* setter bakgrunnsfarge */
}
